.header {
  width: 100%;
  height: 536px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(../../images/header_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: auto;
}

.header__main-group {
  width: 288px;
}

.header__title {
  font-family: "Roboto-Slab", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 16px;
}

.header__subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 122px 0;
}
.header__form {
  width: 100%;
  position: relative;
}

.header__input {
  width: 100%;
  height: 56px;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.header__input::placeholder {
  color: rgba(182, 188, 191, 1);
}

.submit-button_place_header {
  height: 56px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header {
    height: 400px;
  }

  .header__main-group {
    width: 448px;
  }

  .header__title {
    margin-top: 30px;
  }

  .header__subtitle {
    margin-bottom: 48px;
  }

  .header__form {
    width: 100%;
    height: 56px;
    position: relative;
  }

  .header__input {
    height: 100%;
  }

  .submit-button_place_header {
    height: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 576px;
  }

  .button_place_nav {
    font-size: 18px;
  }

  .nav__menu-group {
    min-width: 425px;
    font-size: 18px;
  }

  .header__main-group {
    width: 608px;
  }

  .header__title {
    font-size: 60px;
    line-height: 64px;
    margin-top: 80px;
    margin-bottom: 32px;
  }

  .header__subtitle {
    margin-bottom: 88px;
  }

  .header__form {
    height: 64px;
  }
}
